@{
    ViewData["Title"] = "Movie Dashboard";
}

<div>
    <h1>Welcome to the Movie Dashboard, @ViewBag.Username!</h1>
    <h2>What would you like to do?</h2>
    <p><a href="/movies">View All Movies</a></p>
    <p><a href="/movies/new">Add A Movie</a></p>
</div>
