<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pico.fuchsia.min.css">
    <title>Sal</title>

</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Razor Deeper Diver</strong></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sal">Sal</a></li>
                <li><a href="#">Products</a></li>
            </ul>
        </nav>
        <h1>Sal</h1>
        <img src="~/images/Sal.png" alt="It's Sal" id="sal" onclick="alertSal()"/>
        
    </main>
    <script src="~/js/script.js"></script>
</body>

</html>